body {
	font-size: 16px;
	min-height: 100vh;
	background-color: rgb(255, 255, 255);
	font-family: Montserrat, sans-serif;
	display: flex;
	flex-direction: column;
}

.container {
	max-width: 1940px;
	margin: 0 auto;
}

/*   header   */
header {
	margin-bottom: 50px;
	background-color: white;
}

nav {
	margin: 0px 20px;
	display: flex;
	gap: 20px;
	justify-content: space-between;
	align-items: center;
}

.logo {
	cursor: pointer;
	min-width: 200px;
}

.navmenu {
	max-width: 750px;
	display: flex;
	flex-wrap: wrap;
	gap: 50px;
}

.navmenu li {
	position: relative; /* Для псевдоэлемента */
	text-transform: capitalize;
	color: rgb(126, 126, 149);
	font-weight: 600;
	cursor: pointer;
}

.navmenu li.active {
	color: rgb(31, 31, 195);
}

.navmenu li::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -3px; /* Расположение под текстом */
	width: 100%;
	height: 2px;
	background-color: rgb(31, 31, 195);
	transform: scaleX(0); /* Начально скрыта */
	transform-origin: center;
	transition: transform 0.3s ease-in-out; /* Анимация появления */
}

.navmenu li:hover {
	color: rgb(31, 31, 195);
}

.navmenu li:hover::after {
	transform: scaleX(1); /* При ховере линия растягивается */
}

.navmenu li:active {
	color: rgb(126, 126, 149);
}

.contacts {
	display: flex;
	align-self: normal;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	width: 270px;
	font-weight: 600;
}

.contacts div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 3px;
	width: 200px;
}

.contacts-telegram {
	max-width: 1000px;
}

.contacts div img {
	max-width: 30px;
}

.contacts div:nth-child(2) img {
	max-width: 27px;
}

.nav-btn {
	display: none;
}

.dropdown-btn {
	display: flex;
	width: 30px;
	height: 20px;
	flex-direction: column;
	justify-content: space-between;
	cursor: pointer;
	z-index: 2;
}

.dropdown-btn span {
	width: 100%;
	height: 3px; 
	border-radius: 10px;
	background: black;
}

@media (max-width: 1180px) {
	.navmenu {
		 display: none;
	}
	.contacts {
		 display: none;
	}
	.nav-btn {
		 display: block;
	}
}


.dropdown-wrapper-body {
	position: fixed;
	top: 0;
	right: -100%; 
	width: 100%;
	height: 100%;
	background: rgba(157, 156, 156, 0.662);
	transition: right 0.3s ease;
	z-index: 2;
}


.dropdown-wrapper {
	position: fixed;
	top: 0;
	right: -100%; 
	width: 300px; 
	height: 100%;
	background: white;
	box-shadow: -5px 0 10px rgba(0, 0, 0, 0.2);
	transition: right 0.5s ease; 
	z-index: 3;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-end;
}

.wrapper-btn {
	display: none;
	width: 100%;
	height: 155px;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	margin-right: 20px;
}

.dropdown-wrapper.open,
.dropdown-wrapper-body.open {
    right: 0; /* Сдвигаем на место */
}

.dropdown-wrapper.open .wrapper-btn {
	display: flex;
}

.dropdown-content ul {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.dropdown-content ul li {
	text-transform: capitalize;
	color: rgb(126, 126, 149);
	font-weight: 600;
	cursor: pointer;
	text-align: right;
}

.dropdown-content ul li.active {
	color: rgb(31, 31, 195);
}




/*   main   */

main {
	flex: 1;
}

/*   footer   */

.footer {
	padding-top: 50px;
}

.footer-main {
	background-color: #f2f2f6;
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
 }
 
 .footer-info {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	gap: 50px;
 }
 
 .footer-info div img {
	width: 20px;
 }
 
 .footer-info div {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	font-size: 24px;
	width: 350px;
	font-weight: 500;
 }
 
 .footer-footer {
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #e7e7e8;
	font-weight: 500;
 }