@import url(/CSS/reset.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
	font-size: 16px;
	height: 2500px;
	background-color: rgb(255, 255, 255);
	font-family: Montserrat, sans-serif;
	display: flex;
	flex-direction: column;
}

.container {
	max-width: 1940px;
	margin: 0 auto;
}

/*   header   */
header {
	margin-bottom: 50px;
}

nav {
	margin: 0px 20px;
	display: flex;
	gap: 20px;
	justify-content: space-between;
	align-items: center;
}

.logo {
	cursor: pointer;
	min-width: 200px;
}

.navmenu {
	max-width: 750px;
	display: flex;
	flex-wrap: wrap;
	gap: 50px;
}

.navmenu li {
	position: relative; /* Для псевдоэлемента */
	text-transform: capitalize;
	color: rgb(126, 126, 149);
	font-weight: 600;
	cursor: pointer;
}

.navmenu li.active {
	color: rgb(31, 31, 195);
}

.navmenu li::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -3px; /* Расположение под текстом */
	width: 100%;
	height: 2px;
	background-color: rgb(31, 31, 195);
	transform: scaleX(0); /* Начально скрыта */
	transform-origin: center;
	transition: transform 0.3s ease-in-out; /* Анимация появления */
}

.navmenu li:hover {
	color: rgb(31, 31, 195);
}

.navmenu li:hover::after {
	transform: scaleX(1); /* При ховере линия растягивается */
}

.navmenu li:active {
	color: rgb(126, 126, 149);
}

.contacts {
	max-width: 250px;
}
.contacts h6 {
	font-weight: 500;
}

/*   main   */

/*	  welcome   */
main {
	flex: 1;
}



.welcome {
	position: relative;
	z-index: 1;
	max-width: 100%;
	height: 560px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.welcome-text {
	max-width: 550px;
	margin: 0 20px;
	text-align: center;
	flex: 1;
}

.welcome-text h4 {
	font-weight: 600;
	font-size: 50px;
	margin-bottom: 20px;
	text-transform: uppercase;
	font-family: Open Sans, sans-serif;
	line-height: 60px;
	letter-spacing: -4px;
	text-align: center;
}

.welcome-text p {
	font-size: 18px;
	font-weight: 600;
}

.welcome-text span {
	color: rgb(31, 31, 195);
}

.welcome-image {
	min-width: 600px;
	max-width: 900px;
	flex: 1;
}

/*   adventages   */

.advantages {
	margin-bottom: 20px;
	height: 560px;
	background-color: #f2f2f6;
	position: relative;
	z-index: 0;
}

.advantages-text {
	font-weight: 600;
	font-size: 40px;
	font-family: Open Sans, sans-serif;
	letter-spacing: -1px;
}

.advantages-text span {
	color: rgb(31, 31, 195);
	text-transform: uppercase;
}

.advantages-flexblock {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 50px;
	flex-wrap: nowrap;
}

.advantages-box {
	min-width: 480px;
	height: 350px;
	margin: 0 20px;
	flex: 1;
}

.advantages-box:nth-child(1){
	background: linear-gradient(to right, black 30%, rgba(0, 0, 0, 0.5) 60%, rgba(0, 0, 0, 0) 100%), 
   url('/img/tirehelp.jpg') 130px 0/cover no-repeat;
}

.advantages-box:nth-child(2){
	background: linear-gradient(to right, black 30%, rgba(0, 0, 0, 0.5) 60%, rgba(0, 0, 0, 0) 100%), 
   url('/img/fastandreliable.jpg') 130px 0/cover no-repeat;
}

.advantages-box:nth-child(3){
	background: linear-gradient(to right, black 30%, rgba(0, 0, 0, 0.5) 60%, rgba(0, 0, 0, 0) 100%), 
   url('/img/flashlightonhead.jpg') 130px 0/cover no-repeat;
}

.advantages-text {
	font-family: Roboto Condensed;
	max-width: 300px;
	height: 100%;
	padding: 20px;
	color: white;
	text-transform: uppercase;
	display: flex;
	align-items: center;
}

/*  footer  */

.footer-main {
	background-color: #f2f2f6;
	width: 100%;
	height: 280px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1;
 }
 
 .footer-image {
	max-width: 160px;
	margin-top: 30px;
 }
 
 .footer-info {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	gap: 50px;
 }
 
 .footer-info div img {
	width: 20px;
 }
 
 .footer-info div {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	font-size: 24px;
	width: 350px;
	font-weight: 500;
 }
 
 .footer-footer {
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #e7e7e8;
	font-weight: 500;
 }