@import url(/CSS/reset.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
	font-size: 16px;
	height: 2000px;
	background-color: rgb(255, 255, 255);
	font-family: Montserrat, sans-serif;
	display: flex;
	flex-direction: column;
}

/*   header   */
header {
	margin-bottom: 50px;
}

nav {
	margin: 0px 20px;
	display: flex;
	gap: 20px;
	justify-content: space-between;
	align-items: center;
}

.logo {
	cursor: pointer;
	min-width: 200px;
}

.navmenu {
	max-width: 750px;
	display: flex;
	flex-wrap: wrap;
	gap: 50px;
}

.navmenu li {
	position: relative; /* Для псевдоэлемента */
	text-transform: capitalize;
	color: rgb(126, 126, 149);
	font-weight: 600;
	cursor: pointer;
}

.navmenu li.active {
	color: rgb(31, 31, 195);
}

.navmenu li::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -3px; /* Расположение под текстом */
	width: 100%;
	height: 2px;
	background-color: rgb(31, 31, 195);
	transform: scaleX(0); /* Начально скрыта */
	transform-origin: center;
	transition: transform 0.3s ease-in-out; /* Анимация появления */
}

.navmenu li:hover {
	color: rgb(31, 31, 195);
}

.navmenu li:hover::after {
	transform: scaleX(1); /* При ховере линия растягивается */
}

.navmenu li:active {
	color: rgb(126, 126, 149);
}

.contacts {
	max-width: 250px;
}
.contacts h6 {
	font-weight: 500;
}

/*   main   */

/*	  welcome   */
main {
	flex: 1;
}

.container {
	max-width: 1940px;
	margin: 0 auto;
}

.welcome {
	max-width: 100%;
	height: 560px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;
}

.welcome-text {
	max-width: 550px;
	margin: 0 20px;
	text-align: center;
	flex: 1;
}

.welcome-text h4 {
	font-weight: 600;
	font-size: 50px;
	margin-bottom: 20px;
	text-transform: uppercase;
	font-family: Open Sans, sans-serif;
	line-height: 60px;
	letter-spacing: -4px;
	text-align: center;
}

.welcome-text p {
	font-size: 18px;
	font-weight: 600;
}

.welcome-text span {
	color: rgb(31, 31, 195);
}

.welcome-image {
	min-width: 600px;
	max-width: 900px;
	flex: 1;
}

/*   adventages   */

.advantages {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px;
}

.advantages-text {
	font-weight: 600;
	font-size: 40px;
	font-family: Open Sans, sans-serif;
	letter-spacing: -1px;
}

.advantages-text span {
	color: rgb(31, 31, 195);
	text-transform: uppercase;
}

.advantages-flexblock {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 40px;
	flex-wrap: wrap;
}

.advantages-box {
	height: 500px;
	border-radius: 10px;
	margin: 10px;
	background-color: #F0F0F0;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1;
}

.advantages-box-image img {
	width: 540px;
	height: 300px;
	border-radius: 10px;
	margin: 15px;
	overflow: hidden;
}

.advantages-box-text {
	padding: 0 20px;
	font-size: 20px;
	font-weight: 500;
	overflow: hidden;
}

.advantages-box-text span {
	font-size: 22px;
	color: rgb(31, 31, 195);
	text-transform: uppercase;
}


/*  footer  */

footer {
	background-color: black;
	width: 100%;
	height: 100px;
}