@import url(/CSS/reset.css);
@import url(/CSS/header\,footer-styles.css);
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/*	  welcome   */
.welcome {
  position: relative;
  z-index: 1;
  max-width: 100%;
  min-height: 560px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.welcome-text {
  max-width: 550px;
  margin: 0 20px;
  text-align: center;
  flex: 1;
}

.welcome-text h4 {
  font-weight: 600;
  font-size: 50px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: Open Sans, sans-serif;
  line-height: 60px;
  letter-spacing: -4px;
  text-align: center;
}

.welcome-text p {
  font-size: 18px;
  font-weight: 600;
}

.welcome-text span {
  color: rgb(31, 31, 195);
}

.welcome-image {
  min-width: 600px;
  max-width: 900px;
  flex: 1;
  z-index: 0;
}

@media (max-width: 1700px) {
  .welcome-image {
    min-width: 400px;
    max-width: 700px;
  }
}

@media (max-width: 1220px) {
  .welcome {
    flex-direction: column;
  }
}

/*   how it works   */

.howitworks-section {
	background-color: #7facff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  height: 600px;
	padding: 0 20px;
}

.howitworks-title {
  font-family: Open Sans, sans-serif;
	font-weight: 600;
  font-size: 35px;
	word-spacing: -4px;
	text-transform: capitalize;
  letter-spacing: 1.5px;
  color: #112447;
}

.howitworks__steps-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}

.step-block {
	flex: 1 0 auto;
	background-color: white;
	width: 400px;
	height: 350px;
	border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
	align-items: center;
	gap: 20px;
	padding: 30px;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.step-block:hover {
	transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.step-img {
	background: linear-gradient(90deg, rgba(170,178,255,1) 0%, rgba(135,153,255,1) 40%, rgba(93,118,255,1) 80%);
	width: 100px;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	box-shadow: 0px 0px 20px -12px rgba(66, 68, 90, 1);
}

.step-img img {
  max-width: 60px;
	filter: brightness(0) invert(1);
}

.step-block h6 {
	font-weight: 500;
	font-size: 20px;
}

.step-block p {
	padding-bottom: 20px;
}

.arrow {
	min-width: 40px;
	max-width: 60px;
}

@media (max-width: 1700px) {
  .step-block {
  	width: 300px;
		height: 350px;
  }
}

@media (max-width: 1220px) {
	.howitworks-section {
		height: 100%;
		padding: 50px 0;
		gap: 50px;
	}

	.howitworks__steps-container {
		gap: 40px;
	}

	.step-block {
		width: 500px;
		height: 350px;
	}

  .howitworks__steps-container {
  	flex-direction: column;
  }

	.arrow {
		transform: rotate(90deg);
	}
}

/*   time   */

.time-section {
  padding: 50px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 50px;
  height: 100%;
  background: rgb(100, 95, 187);
  background: linear-gradient(
    90deg,
    rgba(100, 95, 187, 1) 0%,
    rgba(100, 100, 194, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

.time-section__text {
  max-width: 500px;
  text-align: center;
}

.time-section__text h3 {
  font-family: Open Sans, sans-serif;
	word-spacing: -3px;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 20px;
}

.time-section__text p {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
}

.time-section__text button {
  background-color: rgb(57, 57, 249);
  font-weight: 500;
  border-radius: 10px;
  color: white;
  height: 45px;
  max-width: 200px;
  overflow: hidden;
  padding: 0 10px;
  cursor: pointer;
  box-shadow: 0 8px 0px #3c354a;
  transition-duration: 0.5s;
}

.time-section__text button:hover {
  top: 5px;
  box-shadow: 0 3px 0px #3c354a;
  color: black;
  background-color: #3399ff;
}

.time-section__text button:active {
  background-color: #73b9ff;
}

.time-section__text img {
  display: inline-block;
  max-width: 20px;
}

.time-section__image {
  position: relative;
  width: 700px; /* Размер круга */
  height: 700px;
  background-color: #3399ff; /* Голубой цвет */
  border-radius: 50%;
  z-index: 0;
}

.time-section__image img {
  position: absolute;
  max-width: 1050px;
  left: 50%;
	top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

@media (max-width: 1700px) {
  .time-section__image {
    width: 500px;
    height: 500px;
  }

  .time-section__image img {
    max-width: 850px;
  }
}

@media (max-width: 1460px) {
  .time-section__image {
    width: 400px;
    height: 400px;
  }

  .time-section__image img {
    max-width: 650px;
  }
}

@media (max-width: 1220px) {
  .time-section {
    flex-direction: column;
    justify-content: space-between;
  }

  .time-section__image {
    width: 500px;
    height: 500px;
  }

  .time-section__image img {
    max-width: 850px;
  }
}
